*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.showimg{
    background-image: url(./images/copymain.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
    
}
.end{
   margin-left: 50px;
}
.top{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.frame{
    display: flex;
    width: 240px;
    height: 110px;
}
/* .frame i{

} */
 .midbar{
    background-color: rgba(100, 166, 175, 0.498);
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
 .bi-star-fill,.bi-star,.bi-star-half{
    color: goldenrod;
 }
 .bi-heart,.bi-heart-fill{
    color: red;
 }
 .bi-clock{
    color: red;
 }
 .bi-calendar2-check{
    color: orangered;
 }
 .card{
   margin-top: 10px;
   box-shadow: 2px 2px 10px grey;
   height: 300px;
 }
 .foot{
   display:flex;
justify-content: space-evenly;
flex-wrap: wrap;

 }
 /* @media screen and (orientation:portrait){
   body{
      color: green;
   }
 } */

 @media screen and (orientation: portrait) {

.top .frame{
margin-bottom: 10px;
}
.midbar{
   margin-left: 10px;
}
.cards{
   margin-left:22px;
}
.foot1 img{
   width: 100px;
   height: 50px;
   margin-left: -15px;
}
.fooot1{
   
width: 300px ;
}
.mid{
   flex-direction: column;
   margin-left: -10px;
}
/* .midrow{
   margin-left: 10px !important;
} */
   }